{% extends 'inventory/base.html' %}

{% block title %}
Home - Django Delights
{% endblock %}

{% block content %}
<h1>Welcome to Django Delights, {{ context.username }}!</h1>
<h2> This month's financials are:</h2>
<div>
<ul class="mb-5">
    <li> Revenue: {{ context.revenue }}</li>
    <li> Expenses: {{ context.cost }}</li>
    <li> Profit: {{ context.profit }}</li>
</ul>
</div>
<h2> Navigate to:</h2>
<div>
    <ul class="mb-5">
        <li>
            <a href="{% url 'inventory:inventory' %}">Inventory</a> 
        </li>
        <li>
            <a href="{% url 'inventory:menu' %}">Menu</a> 
        </li>
        <li>
            <a href="{% url 'inventory:purchases' %}">Purchases</a> 
        </li>
        <li>
            <a href="{% url 'inventory:profit' %}">Profit and Loss</a> 
        </li>
    </ul>
    </div>
{% endblock %}