{% extends 'inventory/base.html' %}

{% block content %}
<h1>Current Inventory</h1>
<table class="table">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Quantity (units)</th>
            <th>Price per unit</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}