{% extends 'inventory/base.html' %}

{% block content %}
<h1>Add a new recipe:</h1>
<form method="post" class="mt-3 mb-5">
    {% csrf_token %}
    {{ form.as_p }}  <!-- MenuItemForm fields -->

    <h2>Ingredients and Quantities</h2>
    {{ formset.management_form }}  <!-- Ingredient fields -->
    {% for form in formset %}
        <div class="form-row mt-3">
            <div class="col">
                {{ form.ingredient.label }} {{ form.ingredient }}
            </div>
            <div class="col mb-5">
                {{ form.quantity.label }} {{ form.quantity }}
            </div>
        </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
{% endblock %}