{% extends 'inventory/base.html' %}

{% block title %}
Purchases
{% endblock %}

{% block content %}
<h1>All Django Delights Purchases:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Purchase date</th>
            <th>Purchase total</th>
            <th>Purchase items</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.date}}</td>
            <td>{{ purchase.total }}</td>
            <td>
            <ul>
                {% for item in purchase.menu_items.all %}
                <li>{{item.name}}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'purchase_new' %}" class="btn btn-primary mt-3">Register a new purchase</a>
{% endblock %}